{
  "presets": [
    [
      "env",
      {
        "targets": { "node": 7 },
        "useBuiltIns": true,
        "include": ["transform-es2015-classes"]
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": ["react-hot-loader/babel"]
}
